<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <body class="apt_newsroom_displayer">
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                </div>
                <div class="aside__content">
                    {{ if or (.Params.author) (.Params.date) }}
                        <p>
                            {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
                            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
                        </p>
                    {{ end }}
                </div>
                <p class="copyright">{{ .Site.Copyright | markdownify }}</p>
            </section>

        </div>
    </body>

</html>
