<nav class="page__nav main-nav">
    <ul>
      <li class="nomarker"><a href="{{ .Site.BaseURL }}"><img class="about__logo" src="{{ .Site.BaseURL }}/images/apt.svg" alt="Logo"></a></li>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="main-nav__item"><a class="nav-main-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq ($currentPage.Permalink) (.URL | absLangURL)) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
</nav>

